<section class="container mx-auto py-8 px-5">
    <h1
        class="text-3xl md:text-5xl text-center font-semibold text-(--main) mb-12">let's
        get in touch</h1>
    <section class="contact flex flex-col items-center  gap-6  rounded-2xl">
        <div class="form-contact md:w-[50%] self-stretch md:self-center rounded-2xl">
            <form class="w-full">
                <input type="text" placeholder="Your Name" />
                <input type="email" placeholder="Your Email" />
                <textarea placeholder="Your Message"></textarea>
                <button pButton="submit">Send Message</button>
            </form>
        </div>

        <div class="contact-info">
            <div class="social flex text-white gap-1 sm:gap-4 justify-center">
                <a href="https://www.facebook.com/share/14Vv8gQx3vK/"
                    target="_blank"><i class="pi pi-facebook"></i></a>
                <a href="https://www.linkedin.com/in/elabsawy-mostafa/"
                    target="_blank"><i class="pi pi-linkedin"></i></a>
                <a href="https://github.com/Mostafa-Elabsawy" target="_blank"><i
                        class="pi pi-github"></i></a>
                <a href="mailto:mostfaelabsawy@gmail.com" target="_blank"><i
                        class="pi pi-at"></i></a>
                <a href="https://wa.me/201557567617" target="_blank"><i
                        class="pi pi-whatsapp"></i></a>
            </div>
        </div>
    </section>
</section>