<section class="container mx-auto py-4">
    <h1 class="text-3xl md:text-5xl block text-center text-(--main) font-bold">About Me</h1>
    <section
        class=" mx-auto  p-5 flex flex-col justify-between items-center  mt-4 gap-8">
            <div id="aboutme"class="flex flex-col justify-center lg:text-lg  text-base text-[var(--textcolor2)] bg-[#1f2125] p-6 rounded-2xl space-y-4">
            <p class="flex items-start">
                <i class="fa fa-user mr-3 mt-1 "></i>
                Hi, I’m Mostafa Ehab, a software engineer who has been
                passionate about programming from a young age. My goal has
                always been to turn that passion into a professional career.
            </p>
            <p class="flex items-start">
                <i class="fa fa-brain mr-3 mt-1"></i>
                Before diving into building software applications, I began my
                journey through the ICPC competitive programming community,
                where I developed strong problem-solving skills, logical
                thinking, and the ability to write efficient, optimized code.
            </p>
            <p class="flex items-start">
                <i class="fa fa-rocket mr-3 mt-1"></i>
                Today, I focus on building reliable, high-performance, and
                scalable web applications, combining solid technical
                fundamentals with a commitment to creating smooth and dependable
                user experiences.
            </p>
        </div>
        <div class=" flex-col gap-1 flex items-stretch w-full">
            <nav class="w-full" id="nav2">
                <ul class="flex overflow-hidden gap-2 bg-[#1F2125] rounded-lg justify-center">
                    <li class="nav-item"
                        (click)="updateTap('education')"
                        [class.active]="activeTap() === 'education'">
                    <a routerLink="education" class="nav-link">Education</a>
                    </li>

                    <li class="nav-item"
                        (click)="updateTap('skills')"
                        [class.active]="activeTap() === 'skills'">
                    <a routerLink="skills" class="nav-link">Skills</a>
                    </li>

                    <li class="nav-item"
                        (click)="updateTap('experience')"
                        [class.active]="activeTap() === 'experience'">
                    <a routerLink="experience" class="nav-link">Experience</a>
                    </li>
                </ul>
            </nav>
            <router-outlet ></router-outlet>
        </div>
    </section>
</section>