<nav class="sticky pb-1 z-50  top-0  ">
    <div class="container mx-auto  border-b-2 rounded-none! border-[#4B5563]">
        <p-toolbar class="newtool border-0! bg-[#212428]!">
            <ng-template #start>
                <p-avatar image="./images/me.jpg" class="mr-2" size="large"
                    shape="circle" />
                <h1
                    class=" myfont text-2xl lg:text-4xl  font-semibold  text-primary-500!">MOSTAFA
                </h1>
                <p-button variant="outlined" class="block ms-auto lg:hidden"
                    (click)="Toggle()">
                    <i class="pi pi-bars text-2xl!" ></i>
                </p-button>
            </ng-template>
            <ng-template #center>
                <ul class="toggler flex flex-col items-start  gap-y-4 lg:flex-row xl:gap-x-12 lg:gap-x-8 overflow-hidden lg:h-auto h-0"
                    [ngClass]="{'h-0 ':menuOpen() }">
                    <li>
                        <a href="#" class="nav-link" [class.active]="activetab() === 'Home'" (click)="scrollTo('Home')">
                        <span>Home</span> <i class="pi pi-home"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link" [class.active]="activetab() === 'About'" (click)="scrollTo('About')">
                            <span>About</span> <i class="pi pi-user"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link" [class.active]="activetab() === 'Education'" (click)="scrollTo('Education')">
                            <span>Education</span> <i class="pi pi-graduation-cap"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link" [class.active]="activetab() === 'Projects'" (click)="scrollTo('Projects')">
                            <span>Projects</span> <i class="pi pi-briefcase"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link" [class.active]="activetab() === 'Contact'" (click)="scrollTo('Contact')">
                            <span>Contact Me</span> <i class="pi pi-phone"></i>
                        </a>
                    </li>
                </ul>
            </ng-template>
            <ng-template #end>
                <div class="lg:block hidden">
                    <a
                    href="https://drive.google.com/uc?export=download&id=1r7219iR7jiHdTM8t9CqU7dcwIEHv4WO-"
                    download="Mostafa-Elabsawy-Resume.pdf"
                    pButton 
                    class="resume-btn">
                    Resume <i class="pi pi-download"></i>
                </a>
            </div>
            </ng-template>
        </p-toolbar>
    </div>
</nav>
