.animated-text{
    font-size: 20px;
    font-weight: 400;
    min-width: 280px;
}

.animated-text span{
    position: relative;
}

.animated-text span::before{
    content: "Web Developer";
    color: #ff7f50;
    animation: words 16s infinite;
}

.animated-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #212428;
    border-left: 2px solid #ff7f50;
    right: -8px;
    animation: cursor .8s infinite, typing 16s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid transparent;
    }
}

/* 🔹 4 WORDS (each 25%) */
@keyframes words {
    0%,25%{
        content: "Software Engineer";
    }
    26%,50%{
        content: "Angular Developer";
    }
    51%,75%{
        content: "Node js Developer";
    }
    76%,100%{
        content: "Full-Stack Developer";
    }
}

/* 🔹 adjusted typing rhythm */
@keyframes typing {
    6%,12%,31%,37%,56%,62%,81%,87%{
        width: 0;
    }
    0%,18%,25%,43%,50%,68%,75%,93%,100%{
        width: calc(100% + 8px);
    }
}