<section class="bg-[#1E2024] rounded-2xl p-5">

  <h1 class="text-xl sm:text-2xl lg:text-3xl font-bold text-(--textcolor2) flex items-center gap-2">
    <i class="fa-solid fa-graduation-cap"></i>
    Education
  </h1>

  <div class=" mt-6   space-y-4">

    <div class="degree-card">
      <h3 class="degree-title text-lg font-semibold flex flex-wrap gap-1 text-(--textcolor1)">
        Menofia University
        <span class="opacity-70">|</span>
        <span class="">Faculty of Electronic Engineering</span>
      </h3>
      <p class="text-md mt-1 text-(--main)">
        Bachelor of Computer Science and Engineering
      </p>
      <span class="degree-meta text-sm  font-medium text-(--textcolor2) ms-auto inline-block">(2021 – 2026)</span>
    </div>

   
  </div>

</section>