<section class="bg-[#1E2024] rounded-2xl p-5">

  <h1 class="text-xl sm:text-2xl lg:text-3xl font-bold text-(--textcolor2) flex items-center gap-2">
    <i class="fa-solid fa-graduation-cap"></i>
    Education
  </h1>

  <div class=" mt-6  space-y-4">

    <div class="degree-card">
      <div class="degree-accent"></div>
      <h3 class="degree-title">
        Menofia University
        <span class="opacity-70">|</span>
        <span class="opacity-70">Faculty of Electronic Engineering</span>
      </h3>
      <p class="degree-sub">
        Bachelor of Computer Science and Engineering
      </p>
      <p class="degree-sub">
        GPA: <span class="text-emerald-400 font-medium">3.84</span>
      </p>
      <span class="degree-meta">2022 – 2026</span>
    </div>

   
  </div>

</section>