<section class="container mx-auto py-8 ">
    <h1
        class="text-3xl md:text-5xl text-center font-semibold text-(--main) mb-12">Feuters</h1>
    <section
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 items-stretch services-container"
        id="services-container">
        <div>

            <div
                class="service bg-[#1f2125] p-6 rounded-2xl shadow-lg flex flex-col gap-4 hover:shadow-xl transition">
                <i class="fa-solid fa-code text-5xl text-(--main)"></i>
                <h1 class="text-xl font-semibold text-white">
                    Angular Development
                </h1>
                <p class="text-gray-400 leading-relaxed">
                    Building scalable and dynamic full web applications using
                    Angular,
                    including routing, state management, reusable components,
                    and
                    clean architecture.
                </p>
                <button pButton
                    class="mt-auto">
                    Learn More
                </button>
            </div>
        </div>

        <!-- Service 2 -->
        <div>

            <div
                class="service bg-[#1f2125] p-6 rounded-xl shadow-lg flex flex-col gap-4 hover:shadow-xl transition">
                <i class="fa-solid fa-gauge-high text-5xl text-(--main)"></i>
                <h1 class="text-xl font-semibold text-white">
                    Performance Optimization
                </h1>
                <p class="text-gray-400 leading-relaxed">
                    Improving application speed and efficiency through lazy
                    loading,
                    code splitting, bundle optimization, and best Angular
                    performance practices.
                </p>
                <button pButton
                    class="mt-auto">
                    Learn More
                </button>
            </div>
        </div>

        <div>

            <!-- Service 3 -->
            <div
                class=" service bg-[#1f2125] p-6 rounded-2xl shadow-lg flex flex-col gap-4 hover:shadow-xl transition">
                <i class="fa-solid fa-mobile-screen text-5xl text-(--main)"></i>
                <h1 class="text-xl font-semibold text-white">
                    UI / UX & Responsive Design
                </h1>
                <p class="text-gray-400 leading-relaxed">
                    Creating modern, user-friendly interfaces with responsive
                    layouts,
                    accessibility best practices, and pixel-perfect UI
                    implementation.
                </p>
                <button pButton
                    class="mt-auto">
                    Learn More
                </button>
            </div>
        </div>
    </section>
</section>