<section class="bg-[#1E2024] rounded-2xl p-5">
    <h1 class="text-xl sm:text-2xl lg:text-3xl block  text-(--textcolor2) font-bold"><i class="fa fa-code"></i> Skills</h1>
    <div class="bg-(--background1) mt-6 p-4 rounded-2xl">
        <div class="grid grid-cols-1 md:grid-cols-2 md:gap-x-8 gap-y-8 ">
            <app-progress-bar value="85" > <i class="text-xl fab fa-html5"></i> HTML5 </app-progress-bar>
            <app-progress-bar value="80"> <i class="text-xl fab fa-css3"></i> CSS </app-progress-bar>
            <app-progress-bar value="80"> <i class="text-xl fab fa-tailwind-css"></i> Tailwind </app-progress-bar>
            <app-progress-bar value="85"> <i class="text-xl!  pi pi-prime"></i> PrimeNG </app-progress-bar>
            <app-progress-bar value="75"> <i class="text-xl fab fa-angular"></i> Angular</app-progress-bar>
            <app-progress-bar value="85"> <i class="text-xl fab fa-typescript"></i> TypeSript </app-progress-bar>
            <app-progress-bar value="90"> <i class="text-xl fab fa-js"></i> JavaScript </app-progress-bar>
            <app-progress-bar value="75"> <i class="text-xl fab fa-node-js"></i> NodeJs</app-progress-bar>
            <app-progress-bar value="85"> <i class="text-xl fab fa-git-alt"></i> Git</app-progress-bar>
            <app-progress-bar value="90"> <i class="text-xl fab fa-github"></i> Github </app-progress-bar>
        </div>
    </div>
</section>
