@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';
:root {
  --main: #10b981;
  --background1:#212428;
  --background2:#202327;
  --background3:#1E2024;
  --textcolor1:#9CA3AF;
  --textcolor2:#C4CFDE;
  --line: #4B5563;
  --grad2: linear-gradient(
  270deg,
  #005a8a 0%,
  #00508e 8%,
  #005f91 17%,
  #006692 25%,
  #007092 33%,
  #00819b 42%,
  #008da3 50%,
  #009aa3 58%,
  #00a3a3 67%,
  #00a994 75%,
  #00b38a 83%,
  #00bc80 92%,
  #3cc38c 100%
);
}
html
{
  scroll-behavior: smooth;
}
body {
  background-color: #212428;
  /* height: 200vh; */
  @apply font-[Montserrat];
}
  .newtool .p-toolbar-center,
  .newtool .p-toolbar-start,
  .p-toolbar-end {
    @apply lg:w-auto w-[100%];
  }
.newtool .p-toolbar-center ul {
  transition: height 0.5s ease-in-out !important;
}
