@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';
:root {
  --main: #10b981;
  --backgorund1:#212428;
  --backgorund2:#202327;
  --textcolor1:#9CA3AF;
  --textcolor2:#C4CFDE;
  --line: #4B5563;
}
body {
  background-color: #212428;
  /* height: 200vh; */
  @apply font-[Montserrat];
}
@media (max-width: 1024px) {
  .newtool .p-toolbar-center,
  .newtool .p-toolbar-start,
  .p-toolbar-end {
    width: 100%;
  }
}
.newtool .p-toolbar-center ul {
  transition: height 0.5s ease-in-out !important;
}
